<div><h5 class="text-dark d-inline-block">Title: </h5> <p class="text-dark d-inline-block"><%= comment.title %></p></div>
<div><h5 class="text-dark d-inline-block">Content: </h5> <p class="text-dark d-inline-block"><%= comment.content %></p></div>
<hr class="bg-dark">